.budget-form {
  width: 20rem;
  text-align: center;
  margin: 1rem 0rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-sides {
  margin-left: 1rem;
  margin-right: 1rem;
}

.line {
  fill: none;
  stroke: #a3a9ad;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}
.dot {
  fill: #0169d9;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
